* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  display: flex;
  background-color: rgb(88, 88, 88);
  color: lightgrey;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  width: 70px;
}

header a {
  color: lightgrey;
}

.paragraph {
  display: flex;
  margin: 10px;
  justify-content: center;
  font-size: x-large;
}

.first-container {
  display: flex;
  justify-content: center;
  margin: 40px;
  height: 500px;
}

.second-container {
  display: flex;
  max-width: 60%;
  flex-flow: row wrap;
  justify-content:space-around;
  align-content: space-between;
}

.image-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5%;
  box-shadow: 2px 2px 2px 3px gray;
  padding: 30px;
}

.gallery-img {
  width: 150px;
  
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
}