.super-mario {
  width: 200px;
}
  
.goomba {
  width: 100px;
  position: absolute; top: 340px; left: 130px;
}
  
.baloon {
  position: absolute; top: 60px; right: 500px;
  z-index: 1;
}
  
.speach {
  font-size: 25px;
  position: absolute; top: 90px; right: 530px;
  z-index: 2;
}
  
.bowser {
  width: 200px;
  position: absolute; top: 200px; right: 300px;
}